.o-level{
	font-family: 'Verdana';
	font-size: 20pt;
	color: lime;
	background-color: black;
}
.about{
	font-family: 'Verdana';
	font-size: 20pt;
	color: blue;
	background-color: yellow;
}
.contact{
	font-family: 'Verdana';
	font-size: 20pt;
	color: red;
	background-color: silver;
}
.datascience{
	font-family: 'Verdana';
	font-size: 20pt;
	color: green;
	background-color: orange;
}
.homepage{
	font-family: 'Verdana';
	font-size: 20pt;
	color: #cf15b9;
	background-color: #91edc4;
}