body{
	margin:0;
	font-size: 100%;
	background-color: silver;
}
.img{
	
	height:90px;
}
#table{
	width:100%;
	margin: 0;
}
#table a:hover{
	background-color: yellow;

}
tr{
	background-color: cornsilk;
}
td{
	
	text-decoration: none;
	text-align: center;
}